<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <%= form_for @article do |f| %>
    <%= f.label :title, "Enter a title" %>
    <%= f.text_field :title %>
    <%= f.label :content, "Content here" %>
    <%= f.text_field :content %>
    <%= f.submit %>
  <% end %>
</body>
</html>
